/src/main/java/util/KeysCons.java

#artifacts
target/
*.class
*.log
/services
.surefire-*


#Intellij
.settings/
.idea/
.inspectionProfiles/
*.iml
*.iws
*.ipr

#Ubuntu
.DS_Store



.metadata/
.classpath
.project
/.settings
